<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Steven_CropImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC6B68D1DAF5A4C00979EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC6B6A61DAF5A4D00979EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC6B6B11DAF5A4D00979EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
